@import url("/css/nav.css");

* {
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}
body {
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    color: #2e2e2e;
}

:root {
    --primary-color: #3d76e1;
    --secondary-color: #161563;
}

.hero-section {
    display: flex;
    height: calc( 100vh - 100px );
}

.hero-text,
.hero-graphic {
    flex-grow: 1;
    flex-basis: 50%;
}

.hero-graphic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-graphic img {
    max-width: 600px;
}