@import url("/css/nav.css");

* {
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}
body {
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    color: #2e2e2e;
}

:root {
    --primary-color: #3d76e1;
    --secondary-color: #161563;
}